{% extends 'base.html.twig'%}
{%block body%}
<table border=1>
<thead>
<tr>
<th>ID</th>
<th>EMAIL</th>
<th>ACCOUNT NAME</th>
<th>COUNTRY</th>
<th>CITY</th>
</tr>
</thead>
<tbody>
{%for e in data%}
<tr>
<th>{{e.id}}</th>
<th>{{e.email}}</th>
<th>{{e.accountName}}</th>
<th>{{e.country}}</th>
<th>{{e.city}}</th>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}